.addbox{
    position: relative;
    margin-bottom:20px; 
}
.groupsbox{
    max-width: 350px;
    padding: 8px 16px;
    background-color: #fff;
    position: absolute;
    left: 130px;
    top: 0;
    display: none;
}
.zanwu{
    display: none;
}