ul{
    margin: 0;
    padding: 0;
}
li{
    list-style: none;
}
a:link{text-decoration: none}
a:visited{text-decoration: none}
a:active{text-decoration: none}
a:hover{text-decoration: none}
body{
    background:#f1f6ff;
}
.topbar{
    height:60px;
    background:#fff;
    width:100%;
}
.titles{
    font-size:22px;
    line-height: 60px;
    margin-left:52px;
    float:left;
    padding-right:23px;
}
.navs ul li {
    float:left;
    line-height:60px;
    padding:0 20px;
    font-size:16px;
    display: block;
}

.navs ul li:hover{
    color:orchid;
    border-bottom:3px solid #337ab7;
}
.main {
    background:#f1f6ff;
    padding: 25px 50px;
}
.mains {
    background:#fff;
    width:93%;
    margin:10px auto;
}
.sidebar {
    width:100%;
    /*height:590px;*/
    /*overflow-y: auto;*/
    overflow: hidden;
}
/*.uls {*/
    /*height:100%;*/
/*}*/
/*群发消息*/
.side-left {
    padding:20px 0;
}
.side-left ul{
    float:left;
    height:540px;
    /*background:red;*/
    /*border-right:1px solid #ccc;*/
    padding-left:0;
    margin-left:20px;
    width:8%;
}
.side-left ul li {
    padding:20px 10px;
}
.side-left ul li:hover{
    border-right:1.5px solid #4993ff;
    color:#4993ff;
}
.cont{
    float:left;
    /*height:300px;*/
    width:62%;
    /*margin-left:30px;*/
    border-left:1px solid #ccc;
    padding-left:33px;
}
.text{
    background:#f1f6ff;
    padding:20px;
}
.cont h3{
    font-size:14px;
    padding-top:15px;
}
.xuanze{
    padding:10px 15px;
    border-radius:6px;
    margin-top: 20px;
    display: block;
    width: 15%;
    border:1px solid #4993ff;
    color:#4993ff;
    text-align: center;
}
/* 弹窗 (background) */
.modal {
    display: none; /* 默认隐藏 */
    position: fixed; /* 固定定位 */
    z-index: 1; /* 设置在顶层 */
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
}

/* 弹窗内容 */
.modal-content {
    background-color: #fefefe;
    margin: 12% auto;
    /*padding: 20px;*/
    border: 1px solid #888;
    width: 600px;
    height:408px;
}

/* 关闭按钮 */
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    margin:8px 15px;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}
.tanmain h6{
    font-size: 16px;
    margin:14px 20px;
}
.wenzi{
    border-top:1px solid #ccc;
    border-bottom:1px solid #ccc;
    height:300px;
}
.wenzi ul{
    float:left;
    width:133px;
    height:299px;
    /*background:red;*/
    padding:0;
    padding-top:20px;
    border-right:1px solid #ccc;
    overflow: hidden;
}
.wenzi ul li{
    /*float:left;*/
    padding:12px 37px;
}
.wenzi ul li:hover{
    color:blue;
    border-right:2px solid blue;
}
.guanbi{
    float:right;
    margin-top:22px;
}
.guanbi span{
    padding: 12px 23px;
    border-radius: 8px;
    border:1px solid #ccc;
}
.guanbi span:nth-child(2){
    background:#4993ff;
    margin-left:20px;
    margin-right:15px;
}
.bianji{
    width: 70%;
    height: 247px;
    margin-left:156px;
    margin-top:26px;
}
.bianjis {
    float:left;
    background:#f5f5f5;
    width:100%;
    height:247px;
}
/*.yulan{*/
    /*float:right;*/
    /*background:#7976f3;*/
    /*height:247px;*/
    /*width:50%;*/
/*}*/
.bianji h5{
    padding-bottom:10px;
    margin-bottom:0;
}
.bianjis textarea{
    width:50%;
    height:211px;
    resize: none;
    outline:none;
}
.yulan-box{
    width:50%;
    background:#ccc;
    float:right;
    height:211px;
    overflow: hidden;
    padding-top:3px;
}
/*预览区*/
.yulan {
    width:23%;
    margin-right:20px;
    height:510px;
    background:#f5f5f5;
    float:right;
}
.yulan h5{
    background:#595959;
    height:40px;
    text-align:center;
    line-height:40px;
    margin:0;
    color:#fff;
}
.yulans{
    letter-spacing: 1px;
    margin-top:10px;
    display:block;
    padding:0 7px;
    overflow: hidden;
}
/*.cont,.yulan{*/
    /*display: none;*/
/*}*/
.send{
    display: none;
}
.send{
    width:84%;
    overflow:hidden;
}
.send-one{
    border-left: 1px solid #ccc;
    padding: 0px 25px;
    display: flex;
    flex-direction: column;
}
.send-one ul{
    background: #f7f7f7;
    padding-left: 8px;
    border-radius: 6px;
    display: flex;
    justify-content: space-around;
    width: 100%;
    align-items: center;
    padding: 16px 0;
}
.send-one ul li {
    width: 16.6%;
    text-align: center;
}

.neirong {
    width: 100%;
    border-bottom: 1px solid #ccc;
    /* height:242px; */
}
ol{
    list-style:none
}
.neirong ol li{
    width: 16.6%;
    word-wrap: break-word;
    text-align: center;
    padding:10px 0;
}
.neirong ol {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    align-items: center;
    padding: 0;
    /* height:242px; */
}
.bianjis{
    /* display: none; */
}
.bianji-box{
    display: flex;
    justify-content:space-around;
}
.tongbu{
    border:1px solid #ccc;
    padding:6px 22px;
    border-radius:6px;
}
.jin{
    padding:10px 28px;
    background:#ccc;
    overflow:hidden;
    margin-bottom:15px;
}
.grap{
    border:1px solid #ccc;
    width:49%;
    float:left;
    margin-top:17px;
    margin-left:3px;
    position: relative;
}
.grap em{
    position: relative;
    font-style:normal;
    left: 0;
    right: 0;
    /* bottom: 0px; */
    background: #000;
    opacity: 0.7;
    color: #fff;
    padding-left:5px;
    overflow:hidden;
    text-overflow:ellipsis;
    white-space:nowrap;
    width: 100%;
    display: block;
}
.grap p{
    border-bottom:1px solid #ccc;
    padding:5px 9px;
}
.grap a {
    float:right;
}
.mase{
    display:none;
    position: absolute;
    top: 31px;
    left: 0;
    right: 0;
    width: 100%;
    height: 107px;
    background-color: rgba(0,0,0,0.5);
    /* background: red; */
    /* z-index: 99999; */
    /* opacity: .8; */
}
.tuwenimg {
    overflow: hidden;
    height: 0;
    width: 100%;
    padding-bottom: 50%;
}
.tuwenimg img {
    width:100%;
    display: block;
}
.message{
    overflow-y: scroll;
    height:250px;
    display: none;
}
.grap span{
    font-size:12px;
}
.grap a{
    font-size:12px;
    margin-top:2px;
}
.duixiang{
    margin-top:28px;
    margin-bottom:20px;
    overflow:hidden;
}
.duixiang ul{
    padding:0;
}

.duixiang ul li{
    float:left;
    padding:10px 29px;
    border:1px solid #ccc;
    margin:10px;
}
.button{
    padding: 1px 20px;
    float: left;
    border: 1px solid #ccc;
    border-radius: 6px;
    background: lightskyblue;
    margin-top:56px;
    margin-bottom:20px;
}
.button h6{
    font-size:16px;
}
.grap-one{
    /* padding:20px; */
    /* background:red; */
    width:100%;
    height:67px;
    /* margin-top:20px; */
    border-bottom:1px solid #ccc;
    
}
 .grap-one img {
    width:32%;
    float:right;
    padding:8px 11px;
}
 .grap-one span{
    height: 67px;
    line-height: 67px;
    width: 63%;
    display: block;
    float: left;
    margin-left:8px;
    font-size:13px;
}
.grap-two{
    width:100%;
    height:67px;
}
.grap-two img {
    width:32%;
    float:right;
    padding:8px 11px;
}
.grap-two span{
    height: 67px;
    line-height: 67px;
    width: 63%;
    display: block;
    float: left;
    margin-left:8px;
    font-size:13px;
}
.image-text{
    position: relative;
    top: 31px;
}
.image-box img{
    width:100%;
}
.image-box em{
    font-style: normal;
    top: -15px;
    position: relative;
    font-size: 14px;
    background:rgba(0,0,0,0.5);
    height: 17px;
    display: block;
    overflow: hidden;
    color:#fff;
}
.image-box{
    padding:10px 11px;
    position: relative;
    top: -32px;
    left: 0;
    right: 0;
    border: 1px solid #ccc;
}
.image-two{
    width: 100%;
    height: 38px;
    border-bottom:1px solid #ccc;
    overflow: hidden;
    margin-top:6px;
}
.image-two img {
    width: 38%;
    margin-right: -17px;

}
.image-two span{
    float: left;
    display: block;
    font-size: 12px;
    width: 50%;
    overflow: hidden;
}
/* 模板群发消息css */
    
.template{
    display: none;
}
.template-one{
    width: 200px;
    height: 28px;
    border-radius: 6px;
    /* box-shadow: 0 0 5px #ccc; */
    border:1px slolid #ccc;
    position: relative;
    top:20px;
}
.template-one select{
    /* border: none; */
    outline: none;
    height: 28px;
    line-height: 28px;
    width: 240px;
    border-radius:6px;
    /* appearance: none; */
    /* -webkit-appearance: none; */
    /* -moz-appearance: none; */
    padding-left: 10px;
}
.MWfhi {
    margin-top: 30px;
    width: 450px;
    border:1px solid #ccc;
}
.dCeaqE{
    border-bottom: 1px solid #ccc;
    height: 35px;
    line-height: 35px;
    padding: 0 10px;
}
.mobans{
    display: none;
    /* display: flex;  */
    justify-content: space-between;
    position: relative;
    top: 84px;
    width:51.4%;
    border-bottom: 1px solid #ccc;
    border-right: 1px solid #ccc;
    border-left: 1px solid #ccc;
}
.mobans a{
    float:right;
}
.herfs em{
    padding: 3px 11px;
    border: 1px solid #ccc;
    /* background: skyblue; */
    margin-left: 9px;
    font-style:normal;
    border-color: #75adff;
    color: #75adff;
    border-radius: 5px;
}
.herfs label{
    float:left;
}
.herfs span{
    float:left;
    margin-top:2px;
}
.herfs input {
    width: 62% !important;;
}
.template-two {
    padding:20px;
    display: none;
}
.template-two ul {

}
.template-two ul li{
    padding:10px 0;
}
.template-two ul li span{
    margin-right:20px;
}
.template-two ul li input{
    width:75%;
    outline: none;
    border: 1px solid #d9d9d9;
    border-radius: 4px;

}
.color-box {
    float:right;
    width:18px;
    height:18px;
    margin:5px;
    border: 1px solid white;
    /* background:#000; */
    position: relative;
    top: -2.5px;
    left: -42.5px;
    right:0;
    }
    .template-main{
        padding:10px 9px;
        background: #fff;
        width: 90%;
        margin:15px auto;
    }
    .template-time{height:30px;width:40%;}
    .template-time span{float:left;}
    .template-time em{
        font-style: normal;
        font-size:7px;
        float:left;
        margin-top:4px;
    }
    .template-font {
        margin-top:18px;
        display:none;
    }
    .template-font p{
        
    }
    .template-font span{
        color:rgb(167, 32, 32);
    }
.template-ps{
    padding:10px 0;
}