.oneDiv{
    height: 522px;
    background: url(../images/zi-1-bj.jpg) no-repeat;
}
.zi-twoDivUl{
    border-bottom: 2px solid #f36966;
}
.zi-twoDivUl li{
    height: 64px;
    float: left;
    font-size: 29px;
    color: #f36966;
    margin-left: 26px;
    border: 2px solid #f36966;
    border-bottom: 0;
    border-top-left-radius:10px;
    border-top-right-radius:10px; 
    font-weight: bold;
    cursor: pointer;
}
.zi-twoDivUl .asd{
    background-color: #f36966;
    color:#fff;
}
.zi-twoDivUl li:nth-of-type(1){
    margin-left:0; 
}
.tabqie img{
    display: block;
    margin: 0 auto;
}
.zi-fiveDiv{
    background-color: #f2f2f2;
}



#certify {
	position: relative;
	width: 1200px;
	margin: 0 auto
}

#certify .swiper-container {
	padding-bottom: 60px;
}

#certify  .swiper-slide {
	width: 520px;
	/* height: 268px; */
	box-shadow: 0 8px 30px #ddd;
}
#certify  .swiper-slide img{
	display:block;
}

#certify .swiper-pagination {
	width: 100%;
	bottom: 20px;
}

#certify .swiper-pagination-bullets .swiper-pagination-bullet {
	margin: 0 5px;
	border: 3px solid #fff;
	background-color: #d5d5d5;
	width: 10px;
	height: 10px;
	opacity: 1;
}

#certify .swiper-pagination-bullets .swiper-pagination-bullet-active {
	border: 3px solid #00aadc;
	background-color: #fff;
}

#certify .swiper-button-prev {
	left: -30px;
	width: 45px;
	height: 45px;
	background: url(../images/wm_button_icon.png) no-repeat;
	background-position: 0 0;
	background-size: 100%;
}

#certify .swiper-button-prev:hover {
	background-position: 0 -46px;
	background-size: 100%
}

#certify .swiper-button-next {
	right: -30px;
	width: 45px;
	height: 45px;
	background: url(../images/wm_button_icon.png) no-repeat;
	background-position: 0 -93px;
	background-size: 100%;
}

#certify .swiper-button-next:hover {
	background-position: 0 -139px;
	background-size: 100%
}